body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../images/breakingbad.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  color: white;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 200px;
}
header h1 {
  font-size: 70px;
  font-weight: 800px;
}
header h2 {
  font-size: 35px;
  font-weight: 700px;
}
header h4 {
  font-size: 20px;
  letter-spacing: 2px;
}
header a,
main a {
  font-size: 15px;
  font-weight: 800px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(90, 46, 46);
  background-color: white;
  padding: 10px 20px;
  border-radius: 3px;
  display: inline-block;
}

.more-info-article {
  color: white;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  color: white;
  opacity: 0.7;
  background-image: linear-gradient(rgba(36, 39, 35, 0.3), rgba(0, 0, 0, 0.6)),
    url("../images/madmen.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  padding-top: 50px;
  max-width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  justify-content: space-around;
  grid-gap: 20px;
}
.grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  padding: 20px;
  grid-gap: 23px;
}
.the-wire {
  max-width: 480px;
  max-height: 565px;
  border-radius: 20px;
  max-width: 100%;
}

.why-important {
  padding-top: 100px;
}

@media (max-width: 900px) {
  header {
    padding: 70px;
  }
  header h1 {
    font-size: 42px;
  }
  header h2 {
    font-size: 20px;
  }
  header h4 {
    font-size: 10px;
  }
  .why-important {
    padding-top: 10px;
  }
  header a,
  main a {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(90, 46, 46);
    background-color: white;
    padding: 5px 10px;
  }
}
